
     .heading{
        text-align: center;
        text-transform: uppercase;
     }
     input[type=text]{
        width: 15px;
      }
      form{
        text-align: center;
        padding: 20px 40px;
      }
      .formWrapper{
        height: 40vh;
        background-color: skyblue;
        border-radius: 20px;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
      }
      .message{
        background-color: black;
        color: white;
        max-width: 350px;
        padding: 10px;
        border-radius: 10px;
        text-align: justify;
      }
      p{
        text-align: center;
        font-weight: bold;
      }
      @media(max-width:599px){
        form{
            width: 100%;
        }
      }